html{
  background-image: url(./images/bg.webp);
  background-size: cover;
}
.seat-top-free {
  fill: #ffffff;
  stroke: black;
  stroke-width: 1;
  filter: drop-shadow(-0px -3px 3px rgb(0 0 0 / 0.5));
  opacity: 40%;
}

#seat-yellow {
  fill: yellow;
  stroke: black;
  stroke-width: 0.5;
  filter: drop-shadow(2px 5px 2px rgb(0 0 0 / 0.5));
}

#seat-blue {
  fill: blue;
  stroke: black;
  stroke-width: 0.5;
  filter: drop-shadow(2px 5px 2px rgb(0 0 0 / 0.5));
}

#seat-orange {
  stroke: rgb(0, 0, 0);
  stroke-width: 0.5;
  filter: drop-shadow(2px 5px 2px rgb(0 0 0 / 0.5));
  fill: orangered;
}
#seat-brown {
  fill: brown;
  stroke: black;
  stroke-width: 0.5;
  filter: drop-shadow(2px 5px 2px rgb(0 0 0 / 0.5));
}
#blueSeat {
  fill: blue;
  stroke: black;
  stroke-width: 1;
  filter: drop-shadow(2px 5px 2px rgb(0 0 0 / 0.5));
}
#seat-pink {
  fill: pink;
  stroke: black;
  stroke-width: 0.5;
  filter: drop-shadow(2px 5px 2px rgb(0 0 0 / 0.5));
}

#seat-green {
  fill: green;
  stroke: black;
  stroke-width: 0.5;
  filter: drop-shadow(2px 5px 2px rgb(0 0 0 / 0.5));
}

polyline {
  filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.5));
}

line {
  filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));
  stroke: rgb(58, 3, 3);
  stroke-width: 1;
}

#circle2 {
  filter: drop-shadow(0px 0px 3px rgb(0, 0, 0));
}

.top {
 
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #808080;
  background-color: #fff;
  border: #333;
}


.srodek {
  margin-left: auto;
  margin-right: auto;
  height: 90%;
  width: 400px;
  min-width: 300px;
  margin-bottom: 0px;
  padding: 0;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

    border: 25px solid #B88846;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
  }
  


.butblue {
  width: 30px;
  height: 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  background-color: blue;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid black;
}

.butblue :hover {
  background-color: #4caf50;
}

.butpink {
  width: 30px;
  height: 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 40, 255);
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid black;
}

.butbrown {
  width: 30px;
  height: 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  background-color: brown;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid black;
}

.butyellow {
  width: 30px;
  height: 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  background-color: yellow;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid black;
}

.butorange {
  width: 30px;
  height: 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 68, 0);
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid black;
}

.butgreen {
  width: 30px;
  height: 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  background-color: green;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid black;
}

.buttonReserved {
  background-color: red;
  border-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 15px black;
  color: #ff0000;
}

.buthoover:hover {
  border: 1px solid white;
  opacity: 80%;
}

.seatBlue {
  fill: blue;
  stroke: black;
  stroke-width: 0.5;
}
.seatPink {
  fill: rgb(255, 40, 255);
  stroke: black;
  stroke-width: 0.5;
}

.seatBrown {
  fill: brown;
  stroke: black;
  stroke-width: 0.5;
}

.seatYellow {
  fill: yellow;
  stroke: black;
  stroke-width: 0.5;
}

.seatGreen {
  fill: green;
  stroke: black;
  stroke-width: 0.5;
}

.seatOrange {
  fill: rgb(255, 68, 0);
  stroke: black;
  stroke-width: 0.5;
}

.seatReserved {
  stroke: red;
  stroke-width: 10;
  filter: drop-shadow(2px 5px 2px rgb(0 0 0 / 0.5));
  fill: red;
}

.wagoniki {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.kalendarz {
text-align: center;
display: flex;
justify-content: center;

}


.picker {
  width: 312px;
  padding: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  box-shadow: 0 5px 15px -5px rgb(0 0 0 / 51%);
  background: #fff;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
color: #808080;
display: flex;
justify-content: center;

}







.kolory{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #808080;
}






body {
    background-color: white;
    background-image:         linear-gradient(45deg, hsla(0,0%,0%,.25) 25%, transparent 25%, transparent 75%, hsla(0,0%,0%,.25) 75%, hsla(0,0%,0%,.25)), 
                              linear-gradient(45deg, hsla(0,0%,0%,.25) 25%, transparent 25%, transparent 75%, hsla(0,0%,0%,.25) 75%, hsla(0,0%,0%,.25));
    background-position:0 0, 2px 2px;
    background-size:4px 4px;
    height: 100%;
    width: 100%;
 
   
}


.xdsoft_datetimepicker {
  box-shadow: 0 5px 15px -5px rgb(0 0 0 / 51%);
  background: #fff;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 2px 8px 8px 0;
  z-index: 9999;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 355px;
  display: block;
  justify-content: center;
}

{
  box-sizing: border-box;
}



#regForm {
  background-color: #ffffff;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  padding:10px;
  width: 80%;
  min-width: 200px;
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 93%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #00ff37;
  color: #00000;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 30px;
  width: 30px;
  margin: 0 2px;
  background-color: #afafaf;
  border: none;  
  border-radius: 20%;
  display: inline-block;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #00ff37;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

